<!DOCTYPE html>
<html>
<head th:replace="~{account/fragments/header::header}">
<meta charset="UTF-8">
</head>
<body>
<div class="container" id="maincontainerId">
		<table class="table table-hover">
			<h3 class="text-center">资源信息表</h3>
			<thead>
				<tr>
				    <th>resourceName</th>
					<th>resourceUri</th>
					<th>操作
					     <button class="btn btn-success" id="insResourceId" data-toggle="modal" data-target="#myModal">增加</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="resource:${resources}" th:object="${resource}">
					<td th:text="*{resourceName}"></td>
					<td th:text="*{resourceUri}"></td>
					<td>
					   <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="editId" th:roleId="*{resourceId}">编辑</button>
					   <button type="button" class="btn btn-danger" id="delId" th:resourceId="*{resourceId}"> 删除</button>
					</td>
				</tr>
			</tbody>
		</table>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">角色信息</h4><span style="color:red" id="messageId"></span>
            </div>
            <div class="modal-body" id="contentId">
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="submitId">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</div>

</body>
</html>
<script type="text/javascript">
$(document).on("click","#editId",function(){
	  //获取编辑的数据
	  //得到roleId
	  var roleId=$(this).attr("roleId");
	   $.ajax({
		  url:'/shiro/roles/'+roleId,
		  type:'get',
	      success:function(data){
	    	  $("#contentId").html(data);
	      },
	      error:function(){
	    	  alert("失败了");
	      }
	  })
})

$(document).on("click","#insRoleId",function(){
	  //获取编辑的数据
	    $.ajax({
		  url:'/shiro/roles/'+0,
		  type:'get',
	      success:function(data){
	    	  $("#contentId").html(data);
	      },
	      error:function(){
	    	  alert("失败了");
	      }
	  })
})



/////检查roleName
 $(document).on("keyup","#roleName",function(){
	 var oldRoleName=$("#oldRoleName").val();
	 $.ajax({
		 type:'POST',
		 dataType:'JSON',
		 url:'/shiro/roles/check',
		 data:{
			 'oldRoleName':oldRoleName,
			  'newRoleName':$(this).val(),
		 },
		 success:function(data){
			 if(!data){//验证不通过
				   $("#sureLabel").attr("class","form-group has-error");
		           $("#roleSpan").text("roleName is exists");
		           $("#roleSpan").attr("style","color:red");
		           $("#submitId").attr("disabled","disabled");
			 }else{
				   $("#sureLabel").attr("class","form-group has-success");
		           $("#roleSpan").text("验证成功");
		           $("#roleSpan").attr("style","color:green");	
		           $("#submitId").removeAttr("disabled");
			 }
		 },
		 error:function(){
			 alert("失败了");
		 }
	 })
 })




$(document).on("click","#submitId",function(){
	    //创建User对象
       var role={};
	   role.roleId=$("#roleId").val();
	   role.roleName=$("#roleName").val();
	   //创建
       var resources = [];//定义一个空数组 
	   $("input[type=checkbox]:checked").each(function(i){
		   resources[i] =$(this).val();
	   });
	   role.resources=resources;
	       $.ajax({
	           url: "/shiro/roles/",
	           type: "PUT",
	           contentType:'application/json;charset=utf-8',
	           data:JSON.stringify(role),
	           success: function (res) {
	        	  if(res.flag){
	        		   alert(res.message);
	        		   window.location.reload();
	        	   }else{
	        		   $("#messageId").text(res.message);
	        	   }
	           },
	           error:function(){
	        	   alert("失败了");
	           }
	       });
})


$(document).on("click","#delId",function(){
	if(confirm("确定删除？？？")){
		var roleId=$(this).attr("roleId");//得到roleid的值
		$.ajax({
			url:'/shiro/roles/'+roleId,
			type:'DELETE',
		    success:function(res){
		    	if(res){
    		    	alert("删除成功！！！");
		        	window.location.reload();//刷新
		    	}else{
		    		alert("删除失败！！！");
		    	}
		    },
		    error:function(){
		    	alert("失败了");
		    }
		})
	}
})
</script>