<!DOCTYPE html>
<html th:fragment="header">
<head>
  <title>综合练习</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css"> 
</head>
<body>
<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <ul class="navbar-nav" id="ulId">
    <li class="nav-item active">
        <a class="nav-link" href="/index">首页</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/country" id="countryId">国家城市管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/file" id="fileId">文件管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/excel" id="excelId">Excel表格处理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/shiro" id="userId">用户角色管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/others" id="userId">其他</a>
    </li>
  </ul>
</nav>
</body>
</html>
