<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zp.repository.CountryMapper">
  <resultMap id="BaseResultMap" type="com.zp.pojo.Country" >
    <id column="country_id" property="countryId" jdbcType="INTEGER" />
    <result column="country_name" property="countryName" jdbcType="VARCHAR" />
    <result column="local_country_name" property="localCountryName" jdbcType="VARCHAR" />
    <result column="country_code" property="countryCode" jdbcType="VARCHAR" />
    <result column="country_code2" property="countryCode2" jdbcType="VARCHAR" />
    <result column="continent" property="continent" jdbcType="CHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="surface_area" property="surfaceArea" jdbcType="REAL" />
    <result column="indep_year" property="indepYear" jdbcType="INTEGER" />
    <result column="population" property="population" jdbcType="INTEGER" />
    <result column="life_expectancy" property="lifeExpectancy" jdbcType="REAL" />
    <result column="gnp" property="gnp" jdbcType="REAL" />
    <result column="government_form" property="governmentForm" jdbcType="VARCHAR" />
    <result column="head_of_state" property="headOfState" jdbcType="VARCHAR" />
    <result column="capital" property="capital" jdbcType="INTEGER" />
    <result column="time_zone" property="timeZone" jdbcType="VARCHAR" />
    <result column="language_id" property="languageId" jdbcType="INTEGER" />
    <result column="currency_id" property="currencyId" jdbcType="INTEGER" />
    <result column="date_modified" property="dateModified" jdbcType="TIMESTAMP" />
    <result column="date_created" property="dateCreated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    country_id, country_name, local_country_name, country_code, country_code2, continent, 
    region, surface_area, indep_year, population, life_expectancy, gnp, government_form, 
    head_of_state, capital, time_zone, language_id, currency_id, date_modified, date_created
  </sql>
  <sql id="selectAllSql">
         m_country.country_id as countryId,m_country.country_name as countryName,m_country.date_modified as dateModified,m_country.continent as continent,
         m_country.region as region,m_country.population as population,m_city.city_name as capitalCityName
  </sql>
  <select id="selCount" resultType="Integer">
      select count(country_id) from m_country
  </select>
  <!-- 分页查询数据 -->
  <select id="selectAll" resultType="com.zp.vo.CountryVo">
    select
    <include refid="selectAllSql"/>
    from m_country INNER JOIN m_city ON m_country.capital = m_city.city_id limit #{startIndex},#{pageSize}
  </select>
  
  <select id="selCountryNameAndCapitalNameByCountryId" resultType="com.zp.vo.CountryVo2">
    select m_city.city_name As capitalName,m_country.country_name AS countryName
from m_country 
inner join m_city on m_country.capital=m_city.city_id where m_country.country_id=#{0}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_country
    where country_id = #{countryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_country
    where country_id = #{countryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zp.pojo.Country" >
    insert into m_country (country_id, country_name, local_country_name, 
      country_code, country_code2, continent, 
      region, surface_area, indep_year, 
      population, life_expectancy, gnp, 
      government_form, head_of_state, capital, 
      time_zone, language_id, currency_id, 
      date_modified, date_created)
    values (#{countryId,jdbcType=INTEGER}, #{countryName,jdbcType=VARCHAR}, #{localCountryName,jdbcType=VARCHAR}, 
      #{countryCode,jdbcType=VARCHAR}, #{countryCode2,jdbcType=VARCHAR}, #{continent,jdbcType=CHAR}, 
      #{region,jdbcType=VARCHAR}, #{surfaceArea,jdbcType=REAL}, #{indepYear,jdbcType=INTEGER}, 
      #{population,jdbcType=INTEGER}, #{lifeExpectancy,jdbcType=REAL}, #{gnp,jdbcType=REAL}, 
      #{governmentForm,jdbcType=VARCHAR}, #{headOfState,jdbcType=VARCHAR}, #{capital,jdbcType=INTEGER}, 
      #{timeZone,jdbcType=VARCHAR}, #{languageId,jdbcType=INTEGER}, #{currencyId,jdbcType=INTEGER}, 
      #{dateModified,jdbcType=TIMESTAMP}, #{dateCreated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zp.pojo.Country" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jan 10 18:05:34 CST 2020.
    -->
    insert into m_country
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="countryId != null" >
        country_id,
      </if>
      <if test="countryName != null" >
        country_name,
      </if>
      <if test="localCountryName != null" >
        local_country_name,
      </if>
      <if test="countryCode != null" >
        country_code,
      </if>
      <if test="countryCode2 != null" >
        country_code2,
      </if>
      <if test="continent != null" >
        continent,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="surfaceArea != null" >
        surface_area,
      </if>
      <if test="indepYear != null" >
        indep_year,
      </if>
      <if test="population != null" >
        population,
      </if>
      <if test="lifeExpectancy != null" >
        life_expectancy,
      </if>
      <if test="gnp != null" >
        gnp,
      </if>
      <if test="governmentForm != null" >
        government_form,
      </if>
      <if test="headOfState != null" >
        head_of_state,
      </if>
      <if test="capital != null" >
        capital,
      </if>
      <if test="timeZone != null" >
        time_zone,
      </if>
      <if test="languageId != null" >
        language_id,
      </if>
      <if test="currencyId != null" >
        currency_id,
      </if>
      <if test="dateModified != null" >
        date_modified,
      </if>
      <if test="dateCreated != null" >
        date_created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="countryId != null" >
        #{countryId,jdbcType=INTEGER},
      </if>
      <if test="countryName != null" >
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="localCountryName != null" >
        #{localCountryName,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null" >
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="countryCode2 != null" >
        #{countryCode2,jdbcType=VARCHAR},
      </if>
      <if test="continent != null" >
        #{continent,jdbcType=CHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="surfaceArea != null" >
        #{surfaceArea,jdbcType=REAL},
      </if>
      <if test="indepYear != null" >
        #{indepYear,jdbcType=INTEGER},
      </if>
      <if test="population != null" >
        #{population,jdbcType=INTEGER},
      </if>
      <if test="lifeExpectancy != null" >
        #{lifeExpectancy,jdbcType=REAL},
      </if>
      <if test="gnp != null" >
        #{gnp,jdbcType=REAL},
      </if>
      <if test="governmentForm != null" >
        #{governmentForm,jdbcType=VARCHAR},
      </if>
      <if test="headOfState != null" >
        #{headOfState,jdbcType=VARCHAR},
      </if>
      <if test="capital != null" >
        #{capital,jdbcType=INTEGER},
      </if>
      <if test="timeZone != null" >
        #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="languageId != null" >
        #{languageId,jdbcType=INTEGER},
      </if>
      <if test="currencyId != null" >
        #{currencyId,jdbcType=INTEGER},
      </if>
      <if test="dateModified != null" >
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="dateCreated != null" >
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zp.pojo.Country" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jan 10 18:05:34 CST 2020.
    -->
    update m_country
    <set >
      <if test="countryName != null" >
        country_name = #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="localCountryName != null" >
        local_country_name = #{localCountryName,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null" >
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="countryCode2 != null" >
        country_code2 = #{countryCode2,jdbcType=VARCHAR},
      </if>
      <if test="continent != null" >
        continent = #{continent,jdbcType=CHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="surfaceArea != null" >
        surface_area = #{surfaceArea,jdbcType=REAL},
      </if>
      <if test="indepYear != null" >
        indep_year = #{indepYear,jdbcType=INTEGER},
      </if>
      <if test="population != null" >
        population = #{population,jdbcType=INTEGER},
      </if>
      <if test="lifeExpectancy != null" >
        life_expectancy = #{lifeExpectancy,jdbcType=REAL},
      </if>
      <if test="gnp != null" >
        gnp = #{gnp,jdbcType=REAL},
      </if>
      <if test="governmentForm != null" >
        government_form = #{governmentForm,jdbcType=VARCHAR},
      </if>
      <if test="headOfState != null" >
        head_of_state = #{headOfState,jdbcType=VARCHAR},
      </if>
      <if test="capital != null" >
        capital = #{capital,jdbcType=INTEGER},
      </if>
      <if test="timeZone != null" >
        time_zone = #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="languageId != null" >
        language_id = #{languageId,jdbcType=INTEGER},
      </if>
      <if test="currencyId != null" >
        currency_id = #{currencyId,jdbcType=INTEGER},
      </if>
      <if test="dateModified != null" >
        date_modified = #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="dateCreated != null" >
        date_created = #{dateCreated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where country_id = #{countryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zp.pojo.Country" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jan 10 18:05:34 CST 2020.
    -->
    update m_country
    set country_name = #{countryName,jdbcType=VARCHAR},
      local_country_name = #{localCountryName,jdbcType=VARCHAR},
      country_code = #{countryCode,jdbcType=VARCHAR},
      country_code2 = #{countryCode2,jdbcType=VARCHAR},
      continent = #{continent,jdbcType=CHAR},
      region = #{region,jdbcType=VARCHAR},
      surface_area = #{surfaceArea,jdbcType=REAL},
      indep_year = #{indepYear,jdbcType=INTEGER},
      population = #{population,jdbcType=INTEGER},
      life_expectancy = #{lifeExpectancy,jdbcType=REAL},
      gnp = #{gnp,jdbcType=REAL},
      government_form = #{governmentForm,jdbcType=VARCHAR},
      head_of_state = #{headOfState,jdbcType=VARCHAR},
      capital = #{capital,jdbcType=INTEGER},
      time_zone = #{timeZone,jdbcType=VARCHAR},
      language_id = #{languageId,jdbcType=INTEGER},
      currency_id = #{currencyId,jdbcType=INTEGER},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      date_created = #{dateCreated,jdbcType=TIMESTAMP}
    where country_id = #{countryId,jdbcType=INTEGER}
  </update>
  
</mapper>