<!DOCTYPE html>
<html>
<head th:include="~{fragments/header::header}">
<meta charset="UTF-8">
<title>其他操作</title>
</head>
<body>
<button type="button" class="btn btn-outline-primary" id="btn1">获取当前访问的ip和浏览器内核</button></br>

<div class="container">
	<form action="/others/submit" method="post">
	  <input type="text" name="token" id="token" th:value="${session.token}">
	  <button type="submit" class="btn btn-dark">防止表单重复提交</button>
	</form>
</div>
</body>
</html>
<script type="text/javascript">
<!--

//-->
$(document).on("click","#btn1",function(){
	  $.ajax({
		  url:'/others/getIps',
		  type:'GET',
          success:function(data){
        	  alert(data);
          },
          error:function(){
           alert("获取失败，请稍后重试！！！");        	  
          }
	  })
})
</script>